.add_product {
  padding-bottom: 60px;
  min-width: 100%;

  .add_product__container {
    margin: 0;
    padding: 0;
    width: 100%;

    .add_product__add-row {
      position: relative;
      .add-product__input-container {
        padding: 0;

        .add-product__input {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 35px;
          text-align: center;
          border: 1px solid rgb(194, 191, 191);
        }
      }

      .add-product__input-container:nth-child(2) {
        margin: 0% 1%;
      }
      .add-product__input-container:nth-child(3) {
        margin: 0% 1% 30px 1%;
        @media screen and (min-width: map-get($breakpoins, lg)) {
          margin: 0% 1%;
        }
      }
    }

    .add-product__btn-container {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0;

      .add-product__btn {
        position: absolute;
        bottom: -50px;
        right: 0;
        @media screen and (min-width: map-get($breakpoins, lg)) {
          bottom: 0;
        }
      }
    }
  }

  .add-product__list {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 100px auto 0 auto;
    position: relative;
    width: 90%;
    min-height: 60px;

    .add-product__list-item {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      @media screen and (min-width: map-get($breakpoins, sm)) {
        flex-direction: row;
      }

      .add-product__list-item-element:nth-child(3) {
        @media screen and (min-width: map-get($breakpoins, sm)) {
          text-align: left;
        }
      }
    }

    .add-product__cancel-btn-container {
      text-align: end;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 20px;
      bottom: 10px;
      min-width: 20px;
    }
  }

  .product-autocomplete__list-container {
    max-height: 150px;
    overflow: auto;
  }
}
