.forgot-password {
  position: absolute;
  background-image: url("../assets/img/sign-up-background-mobile-480.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  top: 0;
  height: 100%;

  @media screen and (min-width: map-get($breakpoins, md)) {
    background-image: url("../assets/img/sign-up-background-mobile-640.jpg");
  }

  @media screen and (min-width: map-get($breakpoins, lg)) {
    background-image: url("../assets/img/sign-up-background-desktop-1280x720-min.jpg");
  }

  @media screen and (min-width: map-get($breakpoins, xl)) {
    background-image: url("../assets/img/sign-up-background-desktop-1980x1114-min.jpg");
  }

  .forgot-password__container {
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 50px auto;
    position: relative;
    width: 90%;
    padding-bottom: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    .forgot-password__header {
      text-align: center;
      font-size: 24px;
    }
    .forgot-password__form-container {
      display: flex;
      flex-direction: column;
      .forgot-password__btn {
        max-width: 130px;
        margin-top: 10px;
        align-self: flex-end;
      }
    }
  }
}
