.header {
  position: relative;
  width: 100%;
  align-items: center;
  z-index: 2;

  .header__navbar {
    height: 100%;
    width: 100%;

    .header__link {
      @media screen and (min-width: map-get($breakpoins, lg)) {
        margin: 0 0 0 16px;
        padding-top: 4px;
      }
    }

    .header__loged-link {
      @media screen and (min-width: map-get($breakpoins, lg)) {
        margin: 0 8px 0 2px;
        padding-top: 8px;
      }
    }

    .header__logo {
      display: flex;

      .header__logo-icon {
        position: relative;
        left: -8px;
        bottom: 4px;
        font-size: 30px;
        color: rgb(0, 255, 115);
        margin: 0 6px;

        @media screen and (min-width: map-get($breakpoins, sm)) {
          left: -8px;
        }
      }

      .header__logo-inscription {
        text-decoration: none;
        color: white;

        @media screen and (min-width: map-get($breakpoins, sm)) {
          display: block;
        }
      }
    }

    .header__search-form {
      position: relative;
      bottom: -50px;
      left: 50%;
      width: 50%;
      max-width: 280px;
      height: 80px;
      @media screen and (min-width: map-get($breakpoins, sm)) {
        left: 40%;
        width: 60%;
      }

      @media screen and (min-width: map-get($breakpoins, xl)) {
        left: -15%;
        width: 40%;
        bottom: -25px;
      }

      .product-autocomplete {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 200px;
        @media screen and (min-width: map-get($breakpoins, sm)) {
          left: 0;
        }

        .product-autocomplete__input {
          position: relative;
          top: 0;
          right: 5%;
          width: 100%;
          border-radius: 6px;
        }

        .product-autocomplete__list-container {
          background: linear-gradient(
            to right,
            transparent 0%,
            rgb(111, 240, 130) 15%,
            rgb(111, 240, 130) 85%,
            transparent 100%
          );
          left: -10px;
          position: relative;
          width: 100%;
        }
      }

      .header__search-button {
        min-width: 72px;
        position: absolute;
        bottom: 0;
        right: 5%;
        max-height: 40px;

        @media screen and (min-width: map-get($breakpoins, sm)) {
          top: 0;
          right: 0;
        }
      }
    }

    .header__cart-container {
      position: relative;
      height: 50px;
      z-index: 1;

      @media screen and (min-width: map-get($breakpoins, xl)) {
        bottom: 0;
      }

      .header__cart-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        position: relative;

        .header__cart-icon {
          position: relative;
          color: rgb(0, 255, 115);
          font-size: 36px;
          top: 4px;
        }

        .header__cart-item-counter {
          font-size: 20px;
          font-weight: bold;
          padding: 0 0 1px 6px;
          top: 9px;
          position: absolute;
          color: rgb(27, 79, 158);
        }
      }
    }
    .search {
      top: -80px;
      @media screen and (min-width: map-get($breakpoins, xl)) {
        top: 0;
      }
    }

    .header__signout-btn {
      min-width: 90px;
    }
  }

  .header__nav-button {
    z-index: 1;
    position: relative;
    right: -10px;

    @media screen and (min-width: map-get($breakpoins, sm)) {
      right: 10px;
    }
  }

  .header__log-container {
    max-width: 200px;
  }

  .header__dropdown-item {
    text-align: center;
    background-color: white;
  }

  .header__dropdown-item:hover {
    background-color: rgb(0, 255, 115);
  }

  .header__link-dropdown {
    color: rgb(90, 89, 89);
    text-decoration: none;
  }

  .header__link-dropdown:hover {
    color: rgb(0, 110, 50);
  }

  .header__link {
    margin-top: 8px;
    margin-left: 4px;
    color: rgb(155, 153, 153);
    text-decoration: none;
  }

  .header__link:hover {
    color: rgb(211, 211, 211);
  }
}
