.map {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 20px;

    @media screen and (min-width: map-get($breakpoins, lg)) {
        margin-bottom: 40px;

    }

    .map__container {
        width: 100%;
        height: 80vw;



    }

    .autocomplete {
        position: relative;
        margin-top: 10px;
        text-align: center;

        .autocomplete__input {
            width: 100%;
            height: 40px;
            text-align: center;
            text-align: start;

            @media screen and (min-width: map-get($breakpoins, md)) {
                width: 60%;

            }
        }
    }
}