.products {
    background-image: url('../assets/img/products-background-mobile-460x435-min.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    overflow: auto;
    width: 100%;
    min-height: 100%;



    @media screen and (min-width: map-get($breakpoins, sm)) {
        background-image: url('../assets/img/products-background-mobile-800-757-min.jpg');
    }

    @media screen and (min-width: map-get($breakpoins, lg)) {
        background-image: url('../assets/img/products-background-desktop-1280x583-min.jpg');
    }

    @media screen and (min-width: map-get($breakpoins, xl)) {
        background-image: url('../assets/img/products-background-desktop-1980x1320-min.jpg');
    }

    .products__container {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        margin: 100px auto;
        position: relative;
        width: 90%;

    }
}