.search {
  position: relative;
  display: flex;
  flex-direction: row;

  .search__container {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 50px auto;
    position: relative;
    width: 90%;
    max-width: 700px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    .search__title {
      text-align: center;
      word-spacing: 2px;
      font-size: 20px;
      @media screen and (min-width: map-get($breakpoins, xs)) {
        font-size: 22px;
      }
      @media screen and (min-width: map-get($breakpoins, sm)) {
        flex-direction: row;
      }
      @media screen and (min-width: map-get($breakpoins, md)) {
        font-size: 28px;
      }
    }

    .search__list {
      width: 90%;
      .search__list-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (min-width: map-get($breakpoins, lg)) {
          flex-direction: row;
        }
        .search__list-item-element-container {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .search__list-item-paragraph {
            margin: 10px 10px 10px 0;
            display: flex;
            flex-direction: column;
            @media screen and (min-width: map-get($breakpoins, md)) {
              flex-direction: row;
            }
            .search__list-item-paragraph-element {
              margin: 0;
              @media screen and (min-width: map-get($breakpoins, md)) {
                margin: 0 10px 0 0;
              }
              @media screen and (min-width: map-get($breakpoins, xl)) {
                margin: 0 14px 0 0;
              }
            }
            .search__list-item-paragraph-element:nth-child(1) {
              min-width: 100px;
            }
            .search__list-item-paragraph-element:nth-child(2) {
              min-width: 80px;
            }
            .search__list-item-paragraph-element:nth-child(3) {
              min-width: 130px;
            }
          }

          .search__details-btn {
            justify-self: flex-end;
            right: 10px;
          }
        }
      }
      .search__list-item-element-container:nth-child(1) {
        justify-content: center;
      }
    }
    .search__details-container {
      position: relative;
      flex-direction: column;

      .search__backwards-btn {
        border: 1px solid black;
        position: absolute;
        top: 4px;
        right: 3%;

        color: black;
        font-weight: 600;
      }

      .search__backwards-btn:hover {
        border: 2px solid rgb(40, 167, 69);
      }

      .search__details {
        margin: 50px auto;
        background-color: white;

        width: 98%;

        .search__seller-details {
          text-align: center;
          padding-left: 5px;
          justify-content: space-around;

          .search__details-col {
            height: 40px;
            margin-top: 6px;
          }
        }
      }

      .search__product-details {
        text-align: center;
        display: flex;
        border-top: 1px solid black;
        align-items: center;
        justify-content: space-between;
        position: relative;
        background-color: white;
        padding: 16px 0;
        margin: 0 auto;
        width: 98%;

        .search__details-col {
          min-width: 100px;
        }

        .search__details-col:nth-child(4) {
          right: 4px;
          position: relative;
          min-width: 100px;
          height: 40px;
          .search__add-item-btn {
            min-width: 100px;
            top: 8px;
            right: 0%;
            position: absolute;
          }
        }
      }

      .search__map-container {
        margin-top: 20px;
      }
    }
  }
}
