.sign-up {
  background-image: url("../assets/img/sign-up-background-mobile-480.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  min-height: 100%;

  @media screen and (min-width: map-get($breakpoins, md)) {
    background-image: url("../assets/img/sign-up-background-mobile-640.jpg");
  }

  @media screen and (min-width: map-get($breakpoins, lg)) {
    background-image: url("../assets/img/sign-up-background-desktop-1280x720-min.jpg");
  }

  @media screen and (min-width: map-get($breakpoins, xl)) {
    background-image: url("../assets/img/sign-up-background-desktop-1980x1114-min.jpg");
  }

  .sign-up__container {
    padding: 10px;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.6) 75%,
      rgba(255, 255, 255, 1) 100%
    );
    margin: 50px auto;
    position: relative;
    width: 90%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    .sign-up__business-form-row {
      margin: 20px 0;

      .sign-up__business-btn {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }

    .sign-up__button-container {
      margin-bottom: 50px;

      .sign-up__button {
        position: absolute;
        right: 10px;
      }
    }
    .login__title {
      text-align: center;
      color: rgb(40, 167, 69);
    }
  }
}
