.user {
  background-image: url("../assets/img/sign-up-background-mobile-460x657-min.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  min-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: map-get($breakpoins, sm)) {
    background-image: url("../assets/img/sign-up-background-mobile-800x1143-min.jpg");
  }

  @media screen and (min-width: map-get($breakpoins, lg)) {
    background-image: url("../assets/img/sign-up-background-desktop-1280x720-min.jpg");
  }

  @media screen and (min-width: map-get($breakpoins, xl)) {
    background-image: url("../assets/img/sign-up-background-desktop-1980x1114-min.jpg");
  }

  .user__container {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 100px auto;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .user__order-card {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin: 8px;

      .user__order-title-implemented {
        color: blue;
        background-color: orangered;
      }

      .user__order-title-completed {
        color: blue;
        background-color: $main-color;
      }
    }
  }
}
